<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a70362e4-57ef-4df5-958d-5f89294f5983" Publisher="CN=新宇" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DrizzleWeather</DisplayName>
    <PublisherDisplayName>jasine</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Weather.App">
      <VisualElements DisplayName="毛毛雨天气" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="简洁的天气应用" ForegroundText="light" BackgroundColor="#36a9f9">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\longLogo.png" ShortName="天气" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#36a9f9" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>